@model PriceTracker.Data.UnitOfMeasure.Commands.CreateUnitOfMeasure


<div class="modal-header mb-3 fs-2">Create New Unit of Measure</div>
<div class="modal-body">
    <form id="create-form">
        <div class="row mb-3">
            <label asp-for="Name" class="col-sm-4 col-md-3 col-lg-2 col-form-label"></label>
            <div class="col-sm-8 col-md-9 col-lg-10">
                <input asp-for="Name" class="form-control" />
                <span class="text-danger" asp-validation-for="Name"></span>
            </div>
        </div>

        <div class="row mb-3">
            <label asp-for="Abbreviation" class="col-sm-4 col-md-3 col-lg-2 col-form-label"></label>
            <div class="col-sm-8 col-md-9 col-lg-10">
                <input asp-for="Abbreviation" class="form-control" />
                <span class="text-danger" asp-validation-for="Abbreviation"></span>
            </div>
        </div>

        <div class="float-end">
            <button type="button" class="btn btn-secondary" id="create-modal-cancel" onclick="cancelDialog()">Cancel</button>
            <button type="button" class="btn btn-success" hx-post="/UnitOfMeasure/Index" hx-target="#uom-list">Create</button>
        </div>
    </form>
</div>